<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ako</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AkO-Dateien</string>
			<key>CFBundleTypeIconFile</key>
			<string>Einsatzplaner.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>Einsatzplaner.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Ein Programm, für den Arbeitskreis OstertalBahn e.V. (AkO) | Created by Qt/QMake</string>
	<key>CFBundleName</key>
	<string>Einsatzplaner</string>
        <key>CFBundleShortVersionString</key>
        <string>0.1</string>
        <key>CFBundleVersion</key>
        <string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Einsatzplaner</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>de_DE</string>
	<key>CFBundleLocalizations</key>
	<string>de</string>
	<key>CFBundleIdentifier</key>
	<string>de.philipp-schepper.einsatzplaner</string>
	<key>NOTE</key>
	<string>Ein Programm, für den Arbeitskreis OstertalBahn e.V. (AkO)</string>
</dict>
</plist>
