<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>de_DE</string>
	<key>CFBundleDisplayName</key>
        <string>@EXECUTABLE@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundleIdentifier</key>
	<string>de.philipp-schepper.einsatzplaner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
        <string>@EXECUTABLE@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>NSHumanReadableCopyright</key>
	<string>Ein Programm, für den Arbeitskreis OstertalBahn e.V. (AkO) | Created by Qt/QMake</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ako</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AkO-File</string>
			<key>CFBundleTypeIconFile</key>
                        <string>EplDocIcon</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
