<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Einsatzplaner</Name>
    <Version>1.5.1</Version>
    <Title>Einsatzplaner-Installer</Title>
    <Publisher>Philipp Schepper</Publisher>
    <ProductUrl>http://epl.philipp-schepper.de</ProductUrl>

    <InstallerWindowIcon>../Icons/keks</InstallerWindowIcon>
    <InstallerApplicationIcon>../Icons/keks</InstallerApplicationIcon>
    <Logo>../Icons/keks.png</Logo>
    <Background>../Icons/keks.png</Background>
<!--    <RunProgram>@TargetDir@/Einsatzplaner</RunProgram>
    <RunProgramDescription>Einsatzplaner jetzt starten</RunProgramDescription>-->
    <StartMenuDir>Einsatzplaner</StartMenuDir>
    <MaintenanceToolName>EPL Werkzeug</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>

    <TargetDir>@ApplicationsDir@/Einsatzplaner</TargetDir>
    <AdminTargetDir>@ApplicationsDir@/Einsatzplaner</AdminTargetDir>
</Installer>
